<?xml version="1.0" encoding="utf-8"?>
<manifest package="johnkagga.me.celestini"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".CelestiniApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Parse meta data -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="psgc5CNy7Ig1NBmLPpnzD4Xux2ENTrKrdQwVyyEc"/>
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="PXnxUyNhI7xa1KfVeGQWhL5zFt8ET2fy2TgfaV3t"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.ClientContactInfoActivity"
            android:label="@string/title_activity_client_contact_info"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.HealthYesNoActivity"
            android:label="@string/title_activity_health_yes_no"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.HealthCheckQuestionsActivity"
            android:label="@string/title_activity_health_check_questions"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="johnkagga.me.celestini.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.StructuredQuestionsActivity"
            android:label="@string/title_activity_structured_questions"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="johnkagga.me.celestini.ui.MainActivity"/>
        </activity>
    </application>

</manifest>
